#titulo {
    color: tomato;
}

p.texto {
    color: slateblue;
}

h2 {
    color: mediumseagreen;
}

#fondo {
    background-color:rgb(194, 148, 237);
    height: 200px;
    background-image: url('img/devloper.jpg');
    
    background-repeat: repeat-x;
    background-color: left top; 
}
